*{
    margin: 0;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: brown;
    overflow: hidden;
    
}
ul{
    display: flex;
    list-style: none;
    gap:40px;
}
nav label{
    display:none;
}
@media screen and (max-width:650px) {
    nav label{
        display: block;
    }
    nav ul{
        display: none;
        position: absolute;
        top: 100px;
        background-color: brown;
        width: 100%;
    }
}
 #click:checked~nav ul{
    display: block;
}

nav ul li{
    padding: 10px;
}

#click{
    display: none;
} 