button:hover{
    background-color: cornflowerblue;
    cursor: pointer;
    border: none;
}
.parent1 h1:first-child{
    background-color: red;
}
.parent2 h1:last-child{
    background-color: red;
}
.parent3 h1:nth-child(even){
    background-color: pink;
}
.para::first-letter{
    color: brown;
    font-size: 50px;
}
.para::first-line{
    font-weight: bold;
}
.name::after{
    content: " singh";
    color: brown;
}
.name::before{
    content: "Hii i am ";
    color: burlywood;
    
}
input::placeholder{
    color: brown;
}