.class h1 {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: bgcolor 5s ease infinite;
    background-color: blue;
     transform: color 3s ease; 
     /* to make hover slow changes or we cn use all */
}
.class h1:hover {
    color: blue;
}
@keyframes  bgcolor{
    0%{
        background-color: red;
        transform: rotate(30deg);
        transform: scale(1.5);
        transform: translateX(200px)
    }

25%{
    background-color: aqua;
    transform: translateY(-200);
}}