.container{
display: grid;
grid-template-columns: repeat(13,300px);
overflow: scroll;
/* to hide scroll bar */
scrollbar-width: none;
}
.box1{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}